.subpageHeader {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
  width: 100%;
  margin-top: var(--spacing-32);
  margin-bottom: var(--spacing-64);
}

.btnGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-16);
}

.primaryButton {
  width: 100%;
}

.select {
  width: 100%;
}

.mapSection {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  justify-items: flex-start;
  gap: var(--spacing-32);
  margin-bottom: var(--spacing-192);
}

@media (min-width: 72rem) {
  .subpageHeader {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--spacing-40);
  }

  .btnGroup {
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-24);
  }

  .primaryButton {
    width: auto;
  }

  .select {
    width: auto;
  }

  .mapSection {
    grid-template-columns: 1fr 26.25em;
    grid-template-rows: auto;
    justify-items: flex-start;
    gap: var(--spacing-48);
  }
}
