.main {
  max-width: 108rem;
  margin: 0 var(--spacing-16);
  min-height: 100vh;
}

@media (min-width: 37.5rem) {
  .main {
    margin: 0 var(--spacing-24);
  }
}

@media (min-width: 111rem) {
  .main {
    margin: 0 auto;
  }
}
