.mapOfferContainer {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 26.25rem;
  height: 32.8125rem;
}

.offerBgAddon {
  display: none;
}

@media (min-width: 70rem) {
  .mapOfferContainer {
    height: 100%;
  }

  .offerBgAddon {
    z-index: -1;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
